@use 'resets';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap');

.container {
  width: min(80%, 1000px);
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
