.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  padding: 0 1em;
  font-size: 1.125rem;

  background-color: hsl(265, 100%, 40%);
  box-shadow: 1px 2px 2px hsla(265, 100%, 40%, 0.15),
    3px 6px 6px hsla(265, 100%, 40%, 0.1),
    5px 10px 10px hsla(265, 100%, 40%, 0.05);

  &__logo {
    display: inline-block;
    padding: 1em 0;

    color: white;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: none;
  }

  &--list {
    display: flex;
    height: 100%;
    margin: 0;

    list-style-type: none;
    font-size: 1rem;

    &__item {
      position: relative;
      height: 100%;      
      
      & + & {
        margin-left: 1em;
      }

      .header--list__link {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 10%;
          
          width: 80%;
          height: 3px;
          
          background-color: hsl(310, 100%, 75%);
          border-radius: 50px;
          opacity: 0;
          transform: scale(0);
          
          transition: opacity 300ms ease, transform 300ms cubic-bezier(0.27,-0.13, 0.71, 1.26);
        }
        
        &:hover, &:focus {
          &::after {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
      &__avatar {
      max-width: 40px;

      img {
        max-width: 100%;
        border-radius: 50%;
      }
    }
  }

  & + * {
    margin-top: 5em;
  }
}
