main {
   display: flex;
   justify-content: space-between;
}
main > * {
   margin: 0 !important;
}
.video-detail {
   width: 69%;
}

.video-list {
   width: 30%;
}

.video-detail > img {
   display: block;
   margin: 0 auto;
}

.youtube-embed {
   overflow: hidden;
   padding-bottom: 56.25%;
   position: relative;
   height: 0;
}

.youtube-embed iframe {
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   position: absolute;
}
